#contenedor {
	width: 960px;
	margin: 0 auto;
	background: #ffffff;
	border: solid 1px;
	position: relative;
	text-align: center;
	top: 160px;

}

header {
	width: 100%;
	height: 110px;
	padding: 5px;
	background-color: #FFAB20;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	z-index:101

	
}
header #cabecera {
	width: 960px;
	margin-left: 50%;
	height: 100px;
	position: relative;
	
}
header .logo {
	width: 100px;
	height: 100px;
	margin-left: -490px;
	background-image: url(../resources/logo1.png);
	position: relative;
	float: left;

}
header .titulo{
	width: 600px;
	height: 100px;
	margin-left: -125px;
	background-image: url(../resources/titulo.png);
	position: relative;
	float: left;
	
}

nav {
	width: 100%;
	height: 40px;
	padding: 5px;
	background-color: #FFEF7B;
	position: fixed;
	top: 110px;
	text-align: center;
	z-index:101
}
ul li {
	margin: 5px 0 5px 0;
	display: inline-block;

}
ul li .lista {
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	border: solid 1px;
	color: #A6930B;
}
/*pagina principal*/
#shortcuts{
	width: 110px;
	margin-right: 40px;
	display: inline-block;
	position: relative;
	
}
.color1{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #BF9042;
	text-align: center;
}
.color2{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #BFB042;
	text-align: center;
	
}
.links {
	margin-top: 50%;
	font-size: 9px;
	color:#FFEF7B;
}
#myCarousel{
	height: 600px;
	width: 800px;
	display: inline-block;
	position: relative;
}
/*noticias*/
section{
	width: 960px;
	border: 1px solid #000;
}
div .recientes,.eventos,.videos{
	
	width:220px;
	height: 140px;
	top:70px;
	margin: -70px 5px 0 5px;
	display:inline-block;
	position: relative;
}

img.picnews{
 	width: 220px;
 	height: 140px;
}
p.info{
	width: 100%;
	height: 80px;
	bottom: 115px;
	position: relative;
	background-color: rgba(18, 145, 207, 0.5);
	font-family: 'Alike', serif;
    font-size: 15px;  
    color:white;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
}

.videos:hover p.info{
	opacity: 1;
}
.recientes:hover p.info{
	opacity: 1;
}.eventos:hover p.info{
	opacity: 1;
}
/* productos y servicios*/
#circulo{
	width: 600px;
	height: 600px;
	margin: 100px 180px 100px 180px;
	position:relative;
}
#sol{
	width: 400px;
	height: 400px;
	background-image: url(../resources/calendario.png);
	left:270px;
	top: -595px;
	position:relative;	
}
/* seccion contacto*/
form{
	width: 400px;
	margin: 15px;
	display: inline-block;
	position: relative;
	border: solid 1px;

}
input:required:invalid {
 
border: 1px solid red;
 
}
 
input:required:valid {
 
border: 1px solid green;
}
#info{
	width: 450px;
	margin: 15px;
	display: inline-block;
	position: relative;
	top:-300px;
	text-align: justify;
	border: solid 1px;
}

/*footer*/
footer {
	width: 100%;
	height: 30px;
	background-color: #FFEF7B;
	position: relative;
	top:170px;
	text-align: center;
	color: #A6930B;
}

footer p {
	margin: 5px 100px 0px 100px;
	display: inline-block;
}
footer a {
	text-decoration: none;
	margin: 5px 100px 0px 100px;
	display: inline-block;
	color: #A6930B;
}